/* ================= GLOBAL ================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

html{ 
  scroll-behavior:smooth; 
}

body{
  background:#080808;
  color:#fff;
}

.container{
  padding:10px 10%;
}

/* ================= NAV ================= */

#nav-wrapper{
  position: fixed;
  right: 0;
  top:0;
  width:100%;
  z-index:1000;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(6px);
  transition: .5s;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

.logo{
  width:130px;
}

nav ul li{
  display:inline-block;
  list-style:none;
  margin:10px 18px;
}

nav ul li a{
  text-decoration:none;
  color:#fff;
  font-size:18px;
  position:relative;
}

nav ul li a::after{
  content:''; 
  width:0; 
  height:3px;
  background:#ff004f;
  position:absolute;
  left:0; 
  bottom:-6px;
  transition:.5s;
}

nav ul li a:hover::after{ 
  width:100%; 
}

/* ================= HERO ================= */

header{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images/bg.jpg") center/cover no-repeat;
  padding:120px 20px 60px;
}

.profile-pic{
  width:160px; 
  height:160px;
  border-radius:50%;
  border:3px solid #ff004f;
  object-fit:cover;
  margin-bottom:1rem;
}

header h1{ 
  font-size:30px;
  margin-bottom:25px; 
}

header h3{
  font-size:20px; 
  display: inline-block;
  margin-top:-10px; 
}
header h3 span{
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: .7px #ff004f;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{
  25%, 100%{
    display: none;
  }
}

header h3 span::before{
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #ff004f;
  color: #ff004f;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%, 100%{
    width: 0;
  }
  70%,
  90%{
    width: 100%;
  }
}

header p{ 
  max-width:650px; 
  color:#e5e7eb; 
  margin-bottom:25px; 
  font-size: 16px;
}

/* ================= BUTTONS ================= */

.btn{
  display:inline-block;
  padding:14px 20px;
  border-radius:13px;
  border:1px solid #ff004f;
  color:#fff;
  text-decoration:none;
  transition:.4s;
}

.btn:hover{ 
  background:#ff004f; 
}
.btn2{ 
  background: #ff004f; 
  border:none; 
}

/* ================= ABOUT ================= */

#about{ 
  padding:60px 0; 
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images/bg-4.png") center/cover no-repeat;
  padding:120px 20px 60px;
}

.row{ 
  display:flex; 
  justify-content:space-between; 
  flex-wrap:wrap; 
}

.about-col-1{ 
  flex-basis:35%; 
}
.about-col-2{ 
  flex-basis:60%; 
}

.about-col-1 img{ 
  width:100%; 
  border-radius:15px; 
}

.sub-title{ 
  font: size 18px; 
  margin-bottom:20px; 
}
.content{ 
  font-size: 17px;
}

.tab-titles{ 
  display:flex; 
  margin:45px 0px 40px; 
  font-size: 20px;
}
.tab-links{ 
  margin-right:50px; 
  cursor:pointer; 
  position:relative; 
  font-size: 18px;
}
.tab-links::after{ 
  content:''; 
  width:0; 
  height:3px; 
  background:#ff004f; 
  position:absolute; 
  left:0; 
  bottom:-8px; 
  transition:.5s; 
}
.tab-links.active-link::after{ 
  width:50%; 
}

.tab-contents{ 
  display:none; 
}
.tab-contents.active-tab{ 
  display:block; 
}
.tab-contents ul li{ 
  list-style:none; 
  margin:10px 0; 
}
.tab-contents ul li span{ 
  color:#b54769; 
  font-size:14px; 
}

/* ================= SERVICES ================= */

#services{ 
  padding:80px 0; 
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images/bg-5.jpeg") center/cover no-repeat;
  padding:120px 20px 60px; 
}

.service-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
  margin-top:50px;
}

.service-list div{
  background: transparent;
  padding:40px;
  border:1px solid #ff004f;
  border-radius:10px;
  transition:.4s;
}

.service-list div i{ 
  font-size:50px; 
  margin-bottom:20px; 
}
.service-list div:hover{
  background:#ff004f;
  transform:translateY(-10px);
}
.button-6{
  text-align: center;
  padding:14px 40px;
  border-radius:7px;
  font-size: 20px;
  border:1px solid #ff004f;
  background: transparent;
  color:#fff;
  text-decoration:none;
  transition:.4s;
}

.button-6:hover{ 
  background:#ff004f; 
  transform:translateY(-10px);
}

/* ================= GALLERY ================= */
#gallery{ 
  padding:80px 0; 
  background:#0b0b0b; 
}

.work-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
  margin-top:50px;
}

.work{ 
  position:relative; 
  overflow:hidden; 
  border-radius:10px; 
}
.work img{ 
  width:100%; 
  transition:.5s; 
}
.layer{
  position:absolute;
  inset:0;
  background:linear-gradient(rgba(0,0,0,.6), #ff004f);
  display:flex; 
  flex-direction:column;
  justify-content:center; 
  align-items:center;
  text-align:center;
  padding:20px;
  opacity:0;
  transition:.5s;
}
.work:hover img{ 
  transform:scale(1.1); 
}
.work:hover .layer{ 
  opacity:1; 
}
/* Home icon styling */
.home-link{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 22px;
  color: #fff;
  padding: 10px 12px;
  border: 1px solid #ff004f;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1;
  transition: transform 0.5s ease;
}

.home-link:hover{
      background: #e60045;
      transform: translateY(-5px);
}

/* ================= CONTACT ================= */

#contact{ 
  padding:80px 0; 
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images/bg-3.jpg") center/cover no-repeat;
}

.contact-left{ 
  flex-basis:35%; 
}
.contact-right{ 
  flex-basis:60%; 
}

.contact-left p{ 
  margin:20px 0; 
}
.contact-left i{ 
  padding: 7px;
  margin-right:15px;
}

/* Social icons spacing and style */

.social-icons {
  margin-top: 25px;
  display: flex;
  gap: 14px; 
}

/* Social icons style */

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  color: #fff; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 14px;
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
  border: 1px solid #ff004f;
  transition: all 0.4s ease;
  position: relative;
}

.social-icons a:hover {
  background-color: #ff004f;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 0, 79, 0.4);
}

.social-icons a:hover i{
  transform: scale(1.2);
}

.btn3{
background: transparent;
font-size:16px;
margin-right:15px;
color:#ababab;
transition:.4s;
}
.btn3:hover{
 color:#fff;
  transform:translateY(-5px);
}
.btn4{
background: transparent;
font-size:20px;
margin-top: 25px;
margin-right:15px;
color:#ababab;
transition:.4s;
}
.btn4:hover{
 color:#fff;
  transform: translateY(-5px);
}

form input, form textarea{
  width:100%;
  background:#262626;
  border:none;
  padding:15px;
  margin:15px 0;
  color:#fff;
  border-radius:6px;
}

/* ================= FOOTER ================= */
.copyright{
  text-align:center;
  padding: 25px 0;
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("images/bg-6.jpeg") center/cover no-repeat;
  margin-top:40px;
  border-radius: 10px;
}

/* ================= small screen/mobile menu ================= */

nav .fas{
  display:none;
}

@media(max-width: 650px){

  .container{
    padding: 12px 6%;
  }

  nav .fas{
    display: block;
    font-size: 26px;
  }

  nav ul{
    background: #ff004f;
    position: absolute;
    top: 0;
    right: -180px;
    width: 180x;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
  }

  nav ul li{
    display: block;
    margin: 25px;
  }

  nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 24px;
    cursor: pointer;
  }

  .logo{
  width: 90px;
  margin-left: 0 auto;
  }
  
  header h1{
    font-size:26px;
  }
  header p{
    font-size:14px;
  }

  .profile-pic{
    width:130px;
    height:130px;
  }

  /* HERO */
  header{
    padding: 120px 15px 60px;
  }

  header h1{
    font-size: 26px;
  }

  header h3{
    font-size: 16px;
  }

  header p{
    font-size: 14px;
  }

  .profile-pic{
    width: 130px;
    height: 130px;
  }

  /* ABOUT */
  .row{
    flex-direction: column;
  }

  .about-col-1,
  .about-col-2{
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .sub-title{
    font-size: 28px;
    text-align: center;
  }

  .content{
    font-size: 15px;
  }

  .tab-titles{
    flex-wrap: wrap;
    gap: 15px;
  }

  .tab-links{
    margin-right: 15px;
    font-size: 16px;
  }

  /* SERVICES */
  .service-list{
    gap: 25px;
  }

  .service-list div{
    padding: 25px;
  }

  /* GALLERY */
  .work-list{
    gap: 25px;
  }

  /* CONTACT */
  .contact-left,
  .contact-right{
    flex-basis: 100%;
  }

  .contact-left p{
    font-size: 16px;
    margin-left: 25px;
  }

  .social-icons a{
    font-size: 20px;
    justify-content: center;
    margin-left: 6px;
    flex-wrap: wrap;
  }

  form input,
  form textarea{
    font-size: 14px;
  }

  .btn,
  .button-6{
    width: 100%;
    text-align: center;
  }

  .copyright{
    font-size: 13px;
  }
}
#msg{
  color: #61b752;
  margin-top: 14px;
  display: block;

}

